/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    color: #160202;
    background-color: #fcf9f9;
    padding-top: 70px; /* Ajustar el espacio superior para la barra de navegación fija */
}

/* Barra de Navegación */
.navbar {
    background-color: #e9eef1;
}

.navbar-brand {
    color: #080808;
}

.navbar-nav .nav-link {
    color: #0c0b0b;
}

.navbar-nav .nav-link:hover {
    color: #2fcef2;
}

/* Efectos de Hover en Botones */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Contenedor de Productos */
.container {
    max-width: 1200px;
}

/* Tarjetas de Productos */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%; /* Asegura que las tarjetas llenen su contenedor */
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

/* Tarjeta de Producto: Información */
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    flex-grow: 1;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
}

/* Modal */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in;
}

/* Estilos para Formularios */
.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

/* Espaciado y Alineación */
.mt-4 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 3rem;
}

.ml-auto {
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    margin-bottom: 1.5rem; /* Espaciado entre tarjetas */
}
